body {
    font-family: Arial;
    font-size: 11px;
    align-items: center;
    justify-content: center;
    background-image: url('../Assets/myimg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#seatmap {
    position: relative;
}

    #seatmap table {
        border-collapse: separate;
        border-spacing: 3px;
    }

#wings_down {
    left: 152px;
    width: 80px;
    position: relative;
    height: 50px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(20deg);
    background: #1c5868;
}

#wings_up {
    left: 152px;
    width: 80px;
    position: relative;
    height: 50px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    background: #1c5868;
}

#plane {
    width: 800px;
    height: auto;
    background: #fff;
    border: solid 1px #aaa;
    border-radius: 80px 0 0 80px;
    z-index: 1;
}

    #plane .rows {
        width: 30px;
        float: left;
        empty-cells: show;
        margin-top: 12px;
        margin-left: 30px;
    }

        #plane .rows td {
            height: 16px;
            text-align: right;
        }

#cabin {
    background-color: #dedede;
    border: none;
    border-left: double 3px #aaa;
    width: 727px;
    height: auto;
    padding: 2px 5px;
    float: left;
    margin-left: 0px;
}

    #cabin td {
        width: 15px;
        height: 15px;
        border: solid 1px #666;
        border-radius: 7px 0 0 7px;
        text-align: center;
        cursor: pointer;
    }

        #cabin td.row {
            background-color: transparent;
            border: none;
            font-weight: bold;
            padding-right: 7px;
        }

        #cabin td.seatAvailable {
            background-color: #01B213;
            color: #fff;
        }

        #cabin td.seatUnavailable {
            background-color: #aaa !important;
            color: #ddd !important;
        }

        #cabin td.ExtraPay {
            background-color: navy;
            color: #fff !important;
        }

        #cabin td.LargeSeat {
            width: 23px;
        }

        #cabin td.noSeatGalley {
            background-color: transparent;
            border: none;
            width: 10px;
            height: 10px;
        }

        #cabin td.noSeatStorage {
            background-color: #aaa;
        }

        #cabin td.noSeatLavatory {
            background-color: #aaa;
        }

    #cabin tr:first-child td,
    #cabin tr:last-child td {
        height: 2px;
        border: none;
        border-radius: 0;
    }

        #cabin tr:first-child td.wingSeat {
            border-top: solid 2px #333;
        }

        #cabin tr:last-child td.wingSeat {
            border-bottom: solid 2px #333;
        }

.bearth {
    font-size: 50px;
}

.button {
    display: block;
    width: 18%;
    height: 50px;
    background: #01B213;
    font-size: 22px;
    color: black;
    border: 5px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

    .button:hover {
        background: navy;
        color: #ffffff;
        border: 1px solid #eee;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #b6ff00;
        text-shadow: none;
    }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

h1 {
    font-size: 25px;
    color: white;
    width: 50%;
    font-family: 'Times New Roman';
}

.avvr {
    border: double 5px #dedede;
    width: 35%;
    height: 20%;
}

#l1 {
    width: 15px;
    height: 15px;
    border: solid 1px #666;
    border-radius: 7px 0 0 7px;
    background-color: navy;
    color: #fff !important;
}

#l2 {
    width: 15px;
    height: 15px;
    border: solid 1px #666;
    border-radius: 7px 0 0 7px;
    background-color: #01B213;
    color: #fff !important;
}

.text {
    font-family: Calibri;
    font-size: 20px;
    color: #eee;
}

#t1 {
    width: 20%;
    border: 3px solid black;
    border-collapse: collapse;
}

.design {
    color: #eee;
    font-size: 13px;
    font-family: Arial;
}
